#index1 {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ff8864;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  position: relative;
  width: 80%;
  max-width: 800px;
  background-color: #ffece2;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


@keyframes example {
  from {
    background-color: #ffece2;
  }

  to {
    background-color: yellow;
  }
}

.quote-box {
  padding: 30px;
  text-align: center;
  color: #333;
  background-color: #ffece2;
  position: relative;
  z-index: 1;
  animation-name: example;
  animation-duration: 4s;
}


@media screen and (max-width: 600px) {
  .quote-box {
    padding: 20px;
  }

  .quote-box p:first-of-type {
    font-size: 20px;
  }

  .quote-box p:last-of-type {
    font-size: 14px;
  }

  .background-box {
    filter: blur(3px);
  }
}